
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <div class="control-one">
                <div class="title">Cadastro de Produtos</div>
            </div>
            <div class="control-two">
                <button class="class-button">Cadastre um novo produto</button>
            </div>
          </div>
          <div class=" card-body">
            <div class=" row">
              <div
                class=" font-icon-list"
            >
                <div class=" font-icon-detail">
                    <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                    <p class="icon-text">Hamburger</p>
                    <div class="button-control">
                        <button class="button-baixo-dir fab fa-500px" > </button>
                        <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                    </div>
                </div>
              </div>
              <div
              class=" font-icon-list"
          >
              <div class=" font-icon-detail">
                  <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                  <p class="icon-text">Hamburger</p>
                  <div class="button-control">
                      <button class="button-baixo-dir fab fa-500px" > </button>
                      <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                  </div>
              </div>
            </div>
            <div
            class=" font-icon-list"
        >
            <div class=" font-icon-detail">
                <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                <p class="icon-text">Hamburger</p>
                <div class="button-control">
                    <button class="button-baixo-dir fab fa-500px" > </button>
                    <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                </div>
            </div>
          </div>
                    <div
                    class=" font-icon-list"
                >
                    <div class=" font-icon-detail">
                        <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                        <p class="icon-text">Hamburger</p>
                        <div class="button-control">
                            <button class="button-baixo-dir fab fa-500px" > </button>
                            <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                        </div>
                    </div>
                    </div>
                    <div
                    class=" font-icon-list"
                >
                    <div class=" font-icon-detail">
                        <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                        <p class="icon-text">Hamburger</p>
                        <div class="button-control">
                            <button class="button-baixo-dir fab fa-500px" > </button>
                            <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                        </div>
                    </div>
                </div>
                <div
                class=" font-icon-list"
            >
                <div class=" font-icon-detail">
                    <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                    <p class="icon-text">Hamburger</p>
                    <div class="button-control">
                        <button class="button-baixo-dir fab fa-500px" > </button>
                        <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                    </div>
                </div>
                </div>
                <div
                class=" font-icon-list"
            >
                <div class=" font-icon-detail">
                    <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                    <p class="icon-text">Hamburger</p>
                    <div class="button-control">
                        <button class="button-baixo-dir fab fa-500px" > </button>
                        <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                    </div>
                </div>
            </div>
            <div
            class=" font-icon-list"
            >
            <div class=" font-icon-detail">
                <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                <p class="icon-text">Hamburger</p>
                <div class="button-control">
                    <button class="button-baixo-dir fab fa-500px" > </button>
                    <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                </div>
            </div>
            </div>
            <div
            class=" font-icon-list"
            >
            <div class=" font-icon-detail">
                <img class="container-img" src="https://d37k6lxrz24y4c.cloudfront.net/v2/pt-br/e9dc924f238fa6cc29465942875fe8f0/67a3c220-148a-491e-9cb7-104de5a62763-600.jpg">
                <p class="icon-text">Hamburger</p>
                <div class="button-control">
                    <button class="button-baixo-dir fab fa-500px" > </button>
                    <button class="button-baixo-esq  tim-icons icon-trash-simple"> </button>
                </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  